@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 100 900;
  src: url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
}

@font-face {
  font-family: 'Poppins';
  font-weight: 100 900;
  src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

@font-face {
  font-family: 'Rammetto One';
  font-weight: 100 900;
  src: url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 100 900;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
}
